<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970161596305-i9n6i0fnovui2g5k9ut3mlsc19mkjldo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970161596305-i9n6i0fnovui2g5k9ut3mlsc19mkjldo</string>
	<key>API_KEY</key>
	<string>AIzaSyAcaSEYogDzsAXcFCnRQj1cCbYgOWvvtWg</string>
	<key>GCM_SENDER_ID</key>
	<string>970161596305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jochat</string>
	<key>PROJECT_ID</key>
	<string>jochat</string>
	<key>STORAGE_BUCKET</key>
	<string>jochat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970161596305:ios:706b0361243eb102441c30</string>
	<key>DATABASE_URL</key>
	<string>https://jochat-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>